.meta {
  font-family: var(--font-serif);
  font-size: var(--text-lg);
  font-style: italic;
  margin: 0 auto 1em;
  max-width: var(--size-max-width);
  padding-bottom: var(--size-gutter);
  padding-left: var(--size-gutter);
  position: relative;
  top: -1em;
}

.details {
  background: var(--background-secondary);
  width: 100%;
  text-align: center;
}

.title {
  font-size: var(--text-title);
  font-weight: var(--extrabold);
  line-height: var(--solid);
  margin: 0 0 var(--space-xl);
}

@media (max-width: 480px) {
  .details {
    padding-top: var(--space-3xl);
  }
}

@media (min-width: 480px) {
  .details {
    padding-top: var(--space-3xl);
  }
}

@media (min-width: 1024px) {  
  .details {
    left: var(--size-gutter);
    padding-top: var(--space-3xl);
  }
}
