.container {
  font-size: var(--text-sm);
  padding: var(--space-2xl) 0;
  text-align: center;
  color: var(--text-color);
}

.container a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: var(--medium);
}

.container a:hover {
  color: var(--primary);
  text-decoration: none;
}
