.hero {
  margin: 0 auto;
  max-width: var(--size-max-width);
  min-height: 200px;
  padding: 0 0 var(--size-gutter);
  position: relative;
}

.image {
  float: right;
  height: 100%;
  width: 33%;
  margin-left: 50px;
  margin-bottom: 50px;
}

.article {
  height: 100%;
  max-height: 100%;
  line-height: var(--loose);
  padding-bottom: calc(var(--size-gutter) * 2);
}

.body {
  text-align: justify;
}

.article h2:first-of-type {
  margin-top: 0;
}

.article a {
  text-decoration: none;
  font-weight: var(--medium);
}

.article a:hover {
  text-decoration: none;
  color: var(--primary);
}

.article p {
  margin-bottom: 1.5em;
  margin-top: 0;
}

.article h1,
.article h2 {
  font-size: var(--text-2xl);
  margin-top: var(--space-3xl);
}

.article h3,
.article h4,
.article h5,
.article h6 {
  font-size: var(--text-prose);
  font-weight: var(--semibold);
  margin-bottom: 0.5em;
  margin-top: 3em;
}

.article li {
  margin-bottom: 0.5em;
}

@media (max-width: 480px) {
  .hero {
    max-width: 80%;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .image {
    float: none;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .hero {
    max-width: var(--size-sm-max-width);
  }
  
  .container {
    max-width: var(--size-max-width);
    margin: 50px auto 0;
  }

  .article {
    gap: var(--space-xl);
  }
}

@media (min-width: 1024px) {
  .hero {
    max-width: var(--size-md-max-width);
  }
  
  .article {
    gap: var(--space-3xl);
    padding-left: 0;
    padding-right: 0;
  }

  .article ul {
    padding-left: 0;
  }
}
