.wrapper {
  width: 100%;
  background-color: var(--background-secondary);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--size-max-width);
  margin: 0 auto;
  padding: var(--space-2xl) var(--size-gutter);
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  gap: var(--space-xl);
}

ul {
  padding-inline-start: 0;
}
