.navigationItem {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.navigationItem a :not(.active) {
  color: var(--text-color);
  text-decoration: none;
}

.navigationItem a:hover {
  color: var(--primary);
}

@media (max-width: 1024px) {
  .navigationItem {
    display: block;
  }
}
