.button {
    position: fixed;
    text-align: center;
    width: 28px;
    height: 28px;
    right: 4px;
    bottom: 32px;
    font-size: 0.7rem;
    z-index: 1;
    cursor: pointer;
    color: var(--text-color-secondary);
    background-color: var(--background-secondary);
    border: var(--text-color-secondary) solid 1px;
    border-radius: 14px;
}